.App {
  white-space: pre-wrap;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  display: block;
  margin: auto;
}
.App > header {
  display: flex;
  flex-wrap: wrap;
}
.Navigation {
  flex: 100%;
}