.App {
  white-space: pre-wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: block;
  margin: auto;
}

img {
  max-width: 100%;
}
.item {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  margin: 20px;
}