body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #333; */
  /* color: #ccc; */
  background: linear-gradient(#f5debc, #877a68) fixed 100vh;
  color: #1f140f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #ccc;
}

.App {
  white-space: pre-wrap;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  display: block;
  margin: auto;
}
.App > header {
  display: flex;
  flex-wrap: wrap;
}
.Navigation {
  flex: 100%;
}