.Navigation {
  background: #543;
  display: flex;
  justify-content: center;
  z-index: 2;
  line-height: 20px;
  min-height: 40px;
}
.Navigation a {
  background: #543;
  padding: 10px;
  display: block;
  z-index: 3;
  position: relative;
}

.Navigation a:hover, .Navigation a:focus {
  background: #321;
}
.NavGroup {
  position: relative;
  min-width: 150px;
}
.NavGroup nav {
  display: none;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 5px black;
}
.menu-toggle {
  font: bold 20px/1 monospace;
  width: 1em;
  box-sizing: content-box;
  border: none;
}
.NavGroup .menu-toggle {
  position: absolute;
  top: 0px;
  right: 0px;
}
.menu-toggle:focus, .menu-toggle.on {
  z-index: 4;
}
.NavGroup:hover nav, .NavGroup .menu-toggle.on + nav {
  display: block;
}
.Navigation .mobile-menu {
  cursor: pointer;
  text-align: center;
  font: bold 20px/1 monospace;
  display: none;
}
.menu-toggle::before {
  transition: 0.5s;
  border-radius: 1em;
  content: '☰';
  display: inline-block;
}

.menu-toggle.on::before {
  transform: rotate(90deg);
}
@media (max-width: 700px) {
  .Navigation .mobile-menu {
    display: block;
  }
  .Navigation {
    flex-direction: column;
  }
  .mobile-menu.off ~ .NavGroup {
    display: none;
  }
  .NavGroup nav {
    display: block;
    position: static;
    border-radius: 0;
  }
  .NavGroup nav a {
    padding-left: 20px;
  }
}