.Profile {
  padding: 20px;
  position: relative;
  max-width: 1000px;
  margin: auto;
}
.Profile .info {
  padding: 20px;
}
.Profile .nick, .Profile .description, .Profile label + label, .Profile .save {
  margin-top: 10px;
}
.Profile .items {
  text-align: center;
}
.Profile.edit .name label {
  display: block;
}
.Profile.edit span, .Profile.edit input, .Profile.edit textarea {
  display: inline-block;
  vertical-align: middle;
  min-width: 100px;
}
.Profile.edit textarea {
  width: 400px;
}
.item-add-link {
  position: absolute;
  top: 0;
  right: 35px;
  color: #333;
}
.dark-toggle {
  font-size: 20px;
  margin: 0 5px 0 20px;
  line-height: 1;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.sun, .moon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.6s;
}
.dark-toggle.off .sun, .dark-toggle.on .moon {
  opacity: 0;
}