.AuthNav {
  display: flex;
  align-items: center;
  padding-right: 5px;
}
.AuthNav a {
  color: #333;
  padding: 2px 5px;
  text-transform: capitalize;
  border-radius: 10px;
  min-width: 60px;
  text-align: center;
}
.AuthNav a:hover, .AuthNav a:focus {
  color: #000;
  background: rgba(0,0,0,0.1);
  box-shadow: 0 0 2px;
  outline: none;
}
.AuthNav svg {
  display: block;
  margin: auto;
  font-size: 1.5em;
  transition: transform 0.5s;
}
.AuthNav a:hover svg, .AuthNav a:focus svg {
  transform: rotate(360deg);
}