.Search {
  text-align: center;
  flex: 0.6;
  display: flex;
  margin: auto;
}
input {
  width: 200px;
  align-self: center;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.5);
  outline: none;
  transition: 0.2s;
  opacity: 0.7;
}
input:focus {
  box-shadow: 0 0 4px;
  opacity: 0.9;
}
input::placeholder {
  opacity: 1 !important;
  color: #555;
}