.Authorization {
  width: 260px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2));
  border-radius: 20px;
  box-shadow: 0 0 2px;
}
.Authorization h2 {
  margin: 0 0 20px;
}
.Authorization input, .Authorization button {
  display: block;
  margin: 10px auto;
}
.Authorization button {
  background: linear-gradient(#eee, #bbb);
  cursor: pointer;
}