/* General */
.item-image {
  border-radius: 10px;
  max-height: 500px;
}
.item-name {
  text-align: center;
}
.item-price {
  background: goldenrod;
  padding: 5px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  display: inline-block;
}
.item-price::after {
  content: ' лв';
}
.item-author {
  font-style: italic;
}
.item-description {
  padding: 20px;
}

/* Large */

.Item.large {
  display: block;
  width: 800px;
  max-width: 100%;
  margin: auto;
  position: relative;
}

.Item.large .item-name {
  font-weight: bold;
  font-size: 20px;
  margin: 10px auto;
}
.item-thumbnail {
  max-width: 100px;
  max-height: 50px;
  margin: 5px 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  vertical-align: middle;
  box-shadow: 0 0 10px 2px;
  transition: 0.3s;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.item-thumbnail-image {
  max-width: 100px;
  max-height: 50px;
}
.item-thumbnail:hover {
  box-shadow: 0 0 6px 6px;
}
.item-preview {
  text-align: center;
  max-height: 600px;
  position: relative;
}
.item-thumbnails {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.item-add {
  display: inline-block;
  padding: 5px 10px;
  background: #ddd;
  background: linear-gradient(#ccc, #fff);
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.item-add:hover {
  background: linear-gradient(rgb(216, 183, 93), #fff);
  box-shadow: 0 0 2px;
}
/* Small */
.Item.thumbnail {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 160px;
  vertical-align: top;
  margin: 20px;
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px #666;
  transition: 0.3s;
}
.Item.thumbnail:hover {
  box-shadow: 0 0 10px 2px #333;
}
.Item.thumbnail .item-price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  box-shadow: 0 0 10px;
}
.Item.thumbnail .item-name {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(60,40,20,0.85), rgba(80, 63, 39, 0.65) 95%, transparent);
  padding: 4px 10px;
  color: #efecea;
}

/* Edit mode */
.item-edit-link {
  color: #333;
  position: absolute;
  top: 0; 
  right: 0;
}
.Item.edit .item-thumbnail, .Item.edit .item-thumbnail-image {
  max-width: 200px;
  max-height: 100px;
}
.image-remove, .image-make-default {
  position: absolute;
  font-weight: bold;
  line-height: 20px;
  background: rgba(0,0,0,0.6);
  color: white;
}
.image-remove {
  top: 0;
  right: 0;
  color: #f33;
  font-size: 40px;
  height: 30px;
  border-bottom-left-radius: 10px;
}
.image-make-default {
  bottom: 0;
  left: 0;
  right: 0;
}